---
 const personalImageAlt = "Sebastian Grisales"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row mb-10">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Sebastian Grisales, empecé en la programación como un hobby,
      el cual he formalizado en la Universidad del Valle. Entre mis experiencias más significativas,
      se encuentra mi rol como lider del equipo de la Start Up para el desarrollo de la aplicación <strong>MaternApp</strong>.
    </p>

    <p>
      Como Fun fact soy profesional en comercio exterior, pero mi pasión por la programación me llevó a cambiar de rumbo. <strong
        > Me encanta la programación y aprender constantemente sobre la misma</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/profile-image.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
