---
import ExperienceItem from "./ExperienceItem.astro"
// const EXPERIENCIE = [
//   {
//     date: "Actualmente...",
//     title: "Creador de Contenido",
//     company: "Twitch",
//     description:
//       "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
//     link: "https://twitch.tv/midudev",
//   },
//   {
//     date: "Septiembre 2022",
//     title: "Principal Frontend Engineer",
//     company: "Adevinta Spain",
//     description:
//       "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
//   },
// ]
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="relative pb-5 md:col-span-2">
  <div class="sticky top-0">
    <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
      >&bull;</span
    >

    <h3 class="text-xl font-bold text-yellow-400"> Main developer </h3>
    <h4 class="font-semibold text-xl text-gray-600 dark:text-white"> Innovar Web </h4>
    <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"> {t('experience.time')} </time>
  </div>
</div>
<div class="relative flex flex-col gap-2 pb-1 text-gray-600 dark:text-gray-300 md:col-span-3">
  <ul style="list-style-type: disc">
    <li class="text-justify text-pretty mb-2">{t('experience.li1')}</li>
    <li class="text-justify text-pretty mb-2">{t('experience.li2')}</li>
    <li class="text-justify text-pretty mb-2">{t('experience.li3')}</li>
    <li class="text-justify text-pretty mb-2">{t('experience.li4')}</li>
    <li class="text-justify text-pretty">{t('experience.li5')}</li>
  </ul>
</div>

<!-- <ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol> -->
