---
import ThemeToggle from "./ThemeToggle.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const navItems = [
  {
    title: t('nav.experience'),
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: t('nav.projects'),
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: t('nav.aboutMe'),
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: t('nav.contact'),
    label: "contacto",
    url: "/#sobre-mi",
    // url: "mailto:sebasgrisales16@gmail.com",
  },
]
---

<header
  class="fixed flex justify-center top-0 z-10 w-full h-12 backdrop-blur"
>
  <nav
    class="flex px-3 text-sm font-medium text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-10 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-sm"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }

    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const currentSectionId = entry.target.id;

          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") === currentSectionId) {
              item.classList.add("text-yellow-500")
            } else {
              item.classList.remove("text-yellow-500")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      /* @apply shadow-lg ring-1 backdrop-blur bg-gray-300/60 dark:bg-gray-800/60 ring-white/10; */
      @apply shadow-lg backdrop-blur
    }
  }
</style>
